<launch>

  <param name="use_sim_time" type="bool" value="true"/>
  <arg name="gazebo" default="true"/>
  
  
  <!-- gazebo configuration parameters -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="physics" default="ode"/>
  <arg name="verbose" default="false"/>
  <arg name="extra_gazebo_args" default=""/>
  
  
  <!-- from where the simulation enviornment will be loaded:
       WARNING: exactly one parameter has to be true, otherwise simulation behaviour is undefined -->
  <arg name="world_name" default="$(find centauro_gazebo)/worlds/centauro.world"/>


  <!-- Load RealSense URDF -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find realsense_gazebo_description)/urdf/_d435i_standalone.urdf.xacro"/>

  <!-- run gazebo -->
  <group if="$(arg gazebo)">
    <node name="spawn_realsense" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model realsense -x 0 -y 0 -z 0.8" />
  </group>


</launch>
